
@charset "UTF-8";
/* CSS Document */

/* html,
html * {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Gotham, Helvetica Neue, Helvetica, Arial," sans-serif";
}

header {
	padding: 32px;
}

img {
	width: 100%;
	max-width: 100%;
	height: auto;
	vertical-align: middle;
}

 footer {
	padding: 20px 30px;
	background-color: #dbecf1;
}

body {
	margin-left: auto;
	margin-right: auto;
	background: #e6f4f8;
}  */

.style-logo {
	margin-left: auto;
	margin-right: auto;
	display: block;
	width: 192px;
}

.style-nav ul {
	list-style-type: none;
}

.style-nav ul li a {
	text-decoration: none;
	color: #2F322A;
	text-align: center;
	display: block;
	text-transform: uppercase;
	padding: 8px;
}
/*
.hero {
	background-image: url(images/hero.jpg);
	background-size: cover;
	padding: 20px 20px 50px 20px;
	color: #FFFFFF;
	text-align: center;
} */

/* h1 {
	font-size: 57px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 60px;
}

h2 {
	font-size: 30px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 23px;
}

h3 {
	font-size: 16px;
	text-transform: uppercase;
	font-weight: 200;
	margin-bottom: 120px;
}

h4 {
	font-size: 16px;
	font-weight: 200;
	margin-bottom: 35px;
}

p {
	font-size: 16px;
	font-weight: 400;
	margin-bottom: 35px;
} */
/*
.button {
	border: 2px #FFFFFF solid;
	padding: 8px 30px;
	border-radius: 30px;
	color: #FFFFFF;
	text-decoration: none;
}

.info-box-tan {
	background-color: #b9a88e;
	color: #FFFFFF;
	padding: 30px 20px 60px;
	text-align: center;
}

.info-box-dark {
	background-color: #2D2D35;
	color: #FFFFFF;
	padding: 30px 20px 60px;
	text-align: center;
}

.footer-text {
	font-size: 13px;
	margin-bottom: 20px;
} */

.col {
	width: 100%;
}

.row:before, .row:after {
	content: "";
	display: table;
}

.row:after {
	clear: both;
}

/*Tablet View*/

@media (min-width: 768px){

	body {
		max-width: 778px;
	}

	.style-nav ul li {
		display: inline-block;
	}

	.style-nav ul {
		text-align: center;
	}

	/* h1 {
		font-size: 40px;
		margin-bottom: 90px;
	}

	h2 {
		margin-bottom: 16px;
	} */

	.col-md-one-half {
		width: 50%;
	}

	.col {
		float: left;
		padding: 0px 7px 14px;
	}
}

/*Desktop View*/

@media (min-width: 1024px){

	.style-logo {
		float: left;
	}

	.style-nav {
		float: right;
	}

	.col-lg-one-fourth {
		width: 25%;
	}
}
