.menu {
    display: table-row;
    width: 100%;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
    list-style: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    z-index: 3;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-transition: -webkit-transform .3s ease;
    transition: -webkit-transform .3s ease;
    transition: transform .3s ease;
    transition: transform .3s ease,-webkit-transform .3s ease;
}
.menu__item:last-child {
    margin-right: 0;
}
.menu__item {
    position: relative;
    display: inline-block;
    float: left;
    margin-right: 1.5rem;
}
.menu__item:after {
    content: "";
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 2px;
    background-color: transparent;
    -webkit-transform: translateY(2px);
    transform: translateY(2px);
    -webkit-transition: background-color .3s ease,-webkit-transform .3s ease;
    transition: background-color .3s ease,-webkit-transform .3s ease;
    transition: background-color .3s ease,transform .3s ease;
    transition: background-color .3s ease,transform .3s ease,-webkit-transform .3s ease;
}
