#cssmenu,
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul li a {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  line-height: 1;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
#cssmenu {
  padding: 0 5px;
	width: 100%;
  font-family: 'Jeju Gothic', serif;
  background: white;
	border-bottom: solid 1px lightgrey;
}
#cssmenu:after,
#cssmenu ul:after {
  content: ".";
  display: block;
  clear: both;
  visibility: hidden;
  line-height: 0;
  height: 0;
}
#cssmenu ul li {
  display: inline-block;
}
#cssmenu.align-right ul li {
  float: right;
}
#cssmenu.align-center ul {
  text-align: center;
}
#cssmenu ul li a {
  font-size: 14px;
  padding: 15px;
  text-decoration: none;
  color: #25bcba;
}
#cssmenu ul li:hover a,
#cssmenu ul li a:hover,
#cssmenu ul li.active a {
  color: #333333;
}


/* Tablet & Desktop Device */
@media all and (min-width:768px) {
	#cssmenu {
		display: none;
    visibility: hidden;
	}
}

/* Tablet Device */
@media all and (min-width:768px) and (max-width:1024px) {

}

/* Desktop Device */
@media all and (min-width:1025px) {
	#cssmenu {
	  position: fixed;
	  top: 0px;
	  left: 0px;
	}
}
