# : comments

_site
.DS_Store
.jekyll
.bundle
.sass-cache
Gemfile
Gemfile.lock
node_modules
package.json

### Jekyll stuff ###
/_site/
_site/
.sass-cache/
.jekyll-metadata

### Jekyll Cache ###
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# End of https://www.gitignore.io/api/jekyll



### VisualStudioCode ###
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

### VisualStudioCode Patch ###
# Ignore all local history of files
.history

# End of https://www.gitignore.io/api/visualstudiocode

