---
 layout: page
 title: About
 subtitle: About this Blog.
 permalink: /about/
---


<h2>이 블로그는?</h2>
<p>
  이 블로그는 제가 공부하면서 새로 깨닫게 된 내용이나 알게 된 내용을 정리해서 올립니다.
  혹시 글 내용에 틀린 부분이 있거나 부자연스러운 문장, 맞춤법은 댓글로 지적해주시면 감사하겠습니다.
</p>

<h2>구독</h2>
<p>
  이 블로그의 내용을 구독하고 싶으시다면 <a href="/feed.xml"> Rss</a>를 이용하시면 됩니다. 저는 무료 Rss 리더인 <a href="https://feedly.com">feedly</a>를 추천합니다.<br/>
  앞으로 새 글을 작성하면 Facebook에도 공유할 생각입니다. 따라서 <a href="https://www.facebook.com/profile.php?id=100002784525012">Facebook</a> 친구 추가를 해주시면 SNS에서도 받아 보실 수 있습니다.
</p>

<h2>블로그 정보</h2>
<p>
	<ul class="about-list">
		<li><i class="fa fa-rss"></i><a href="/feed.xml"> Rss</a></li>
	</ul>
</p>

{% include contact.html %}
{% include share.html %}
{% include comments.html %}
