---
 layout: page
 title: About
 subtitle: About me.
 permalink: /about/
---

<h2>About</h2>
<p>Blog inform</p>
<p>
	<ul class="about-list">
		<li><i class="fa fa-rss"></i><a href="{{ site.url }}{{ site.baseurl }}/feed.xml"> Rss</a></li>
		<li><i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li>
	</ul>
</p>

<h2>Profile</h2>
<p>
	<ul class="about-list">
		<li>
			Bachelor in Computer Engineering from <a href="http://www.hansung.ac.kr/web/www/home">Hansung University</a>
		</li>
	</ul>
</p>

<h2>Interests</h2>
<p>
	<ul class="about-list">
			<li>
				Web / Server / Embedded Software / Software Engineering
			</li>
	</ul>
</p>

<h2>Technical Skill</h2>
<p>
	<ul class="about-list">
		<li>
			Program Language - Java, C, Javascript, C++
		</li>
		<li>
			Web Framework - Spring
		</li>
		<li>
			Database - MySql
		</li>
		<li>
			Version Control System - Git
		</li>
		<li>
			Server - AWS EC2
		</li>
	</ul>
</p>

<h2>Activities</h2>
<h3>2018</h3>
<p>
	<ul class="about-list">
		<li>
      2018.01.16 ~ 01.20 :: Hansung University Programming Camp Mentor
		</li>
	</ul>
</p>
<h3>2017</h3>
<p>
	<ul class="about-list">
		<li>
      2016.01.25 ~ 01.29 :: Hansung University Programming Camp
		</li>
		<li>
      2016.02.29 ~ 06.10 :: Mentoring - Programming Lab
		</li>
		<li>
      2016.03.04 ~ 06.30 :: Hansung University Capstone Design - SoundCatcher
		</li>
		<li>
      2016.03.19 ~ 06.30 :: ihateFlyingBugs Supports Project - SoundCatcher
		</li>
		<li>
      2016.03.15 ~ 07.01 :: Hansung University Start-up Competition - SoundCatcher
		</li>
    <li>
      2016.03.15 ~ 07.01 :: Hansung University Start-up Competition - SoundCatcher
		</li>
    <li>
      2016.05.02 ~ 11.18 :: Embedded Software Contest - SoundCatcher
		</li>
    <li>
      2016.06.23 ~ 06.24 :: Naver Campus Hack Day
		</li>
    <li>
      2016.09.23 ~ 12.07 :: Mentoring - Java Language
		</li>
    <li>
      2016.09.27 ~ 09.28 :: Hansung University Engineering Contest - SoundCatcher
		</li>
    <li>
      2016.01.16 ~ 01.20 :: Hansung University Programming Camp Mentor
		</li>
	</ul>
</p>
<h3>2016</h3>
<p>
	<ul class="about-list">
		<li>
      2016.01.19 ~ 01.24 :: Hansung University Programming Camp
		</li>
		<li>
      2016.03.02 ~ 06.08 :: Mentoring - C Language
		</li>
		<li>
      2016.08.31 ~ 12.11 :: Mentoring - C++ Language
		</li>
		<li>
      2016.09.21 ~ 12.04 :: Mentoring - Data Structure
		</li>
		<li>
      2016.09.23 ~ 09.24 :: Hansung University Engineering Contest - FingerKeyboard
		</li>
	</ul>
</p>
<h3>2014 ~ 2016</h3>
<p>
	<ul class="about-list">
		<li>
			2014.04 ~ 2016.01 :: Serving a mandatory military service
		</li>
	</ul>
</p>

<h2>Awards</h2>
<h3>2018</h3>
<p>
	<ul class="about-list">
		<li>
			Program Language - Java, C, Javascript, C++
		</li>
		<li>
			Web Framework - Spring, Nodejs - Express
		</li>
		<li>
			Database - MySql, MongoDB, AWS RDB
		</li>
		<li>
			Version Control System - Git
		</li>
		<li>
			Server - AWS EC2
		</li>
	</ul>
</p>
<h3>2017</h3>
<p>
	<ul class="about-list">
		<li>
			Program Language - Java, C, Javascript, C++
		</li>
		<li>
			Web Framework - Spring, Nodejs - Express
		</li>
		<li>
			Database - MySql, MongoDB, AWS RDB
		</li>
		<li>
			Version Control System - Git
		</li>
		<li>
			Server - AWS EC2
		</li>
	</ul>
</p>
<h3>2016</h3>
<p>
	<ul class="about-list">
		<li>
			Program Language - Java, C, Javascript, C++
		</li>
		<li>
			Web Framework - Spring, Nodejs - Express
		</li>
		<li>
			Database - MySql, MongoDB, AWS RDB
		</li>
		<li>
			Version Control System - Git
		</li>
		<li>
			Server - AWS EC2
		</li>
	</ul>
</p>

<h2>Project</h2>
<p>
	<ul class="about-list">
    <li>
      <h4>MQTT Chating - Java Chating
        <a href="https://github.com/wnsgml972/MQTT-Chating"> Code</a>
      </h4>
    </li>
		<li>
			<h4>Attention - Android SNS Application
        <a href="https://github.com/wnsgml972/Attention-Firebase"> Code</a>
        <a href="https://github.com/wnsgml972/Attention-Mobile"> Code</a>
        <a href="https://github.com/wnsgml972/Attention-Server"> Code</a>
      </h4>
		</li>
		<li>
			<h4>HIFLY - Drone Web Streamming(임베디드 경진대회 출품 우수상)
        <a href="https://github.com/wnsgml972/Drone-Web-View-Broadcasting"> Code</a>
      </h4>
		</li>
		<li>
      <h4>Culture Class - Android Application(서울시 공모전 출품 장려상)
        <a href="https://github.com/wnsgml972/Culture-Class"> Code</a>
      </h4>
		</li>
    <li>
      <h4>CKY-Sinema - Web
        <a href="https://github.com/wnsgml972/CKY-Sinema"> Code</a>
      </h4>
    </li>
    <li>
      <h4>Starfish - Java Typing Game
        <a href="https://github.com/wnsgml972/Starfish"> Code</a>
      </h4>
    </li>
    <li>
      <h4>TCP Multi Chating - Java Chating
        <a href=""> Code</a>
      </h4>
    </li>
	</ul>
</p>

<h2>Press</h2>
<p>A normal person just wanna see this world. </p>
<p>
	<ul class="about-list">
		<li>

		</li>
		<li>

		</li>
		<li>

		</li>
	</ul>
</p>

<!-- <h2>License</h2>
<p>
	<ul class="about-list">
		<li>
			2016.06.17 :: MOS Master
		</li>
		<li>
			2016.06.17 :: MOS Master
		</li>
	</ul>
</p> -->

{% if site.skillstree %} {% include skillstree.html %} {% endif %}
