---
 layout: page
 title: About
 subtitle: About me.
 permalink: /about/
---

<h2>Profile</h2>
<p>
	<ul class="about-list">
		<li>
			  &#8226; Bachelor in Computer Engineering from <a href="http://www.hansung.ac.kr/web/www/home">Hansung University</a>
		</li>
	</ul>
</p>

<h2>Interests</h2>
<p>
	<ul class="about-list">
			<li>
				&#8226; Server / Embedded Software / Software Engineering / Web
			</li>
	</ul>
</p>

{% if site.skillstree %} {% include skillstree.html %} {% endif %}

<h2>Activities</h2>
<h3>2018</h3>
<p>
	<ul class="about-list">
		<!-- <li>
      &#8226; 2018.03.04 ~ 06.30 <b>Hansung University <span style="color:#E8ADAA;">Capstone Design</span></b>
		</li>
    <li>
      &#8226; 2018.08.31 ~ 12.11 <b>Hansung University Naksan Study</b>
		</li>
    <li>
      &#8226; 2018.08.31 ~ 12.11 <b>HighSuccess Project</b>
		</li> -->
    <li>
      &#8226; 2018.01.22 ~ 01.26 <b>  Seongbuk-gu Office <span style="color:#E8ADAA;">App Inventor Assistant</span></b>
		</li>
    <li>
      &#8226; 2018.01.15 ~ 01.19 <b>Hansung University <span style="color:#E8ADAA;">Programming Camp Tutor</span></b>
		</li>
	</ul>
</p>
<h3>2017</h3>
<p>
	<ul class="about-list">
    <li>
      &#8226; 2017.10.20 ~ 12.19 <b><span style="color:#E8ADAA;">Seoul City App Contest</span> - <span style="color:skyblue">Culture Class</span></b>
    </li>
    <li>
      &#8226; 2017.10.16 ~ 12.24 <b><span style="color:#E8ADAA;">Tutoring Tutor</span> - Algorithm</b>
    </li>
    <li>
      &#8226; 2017.10.16 ~ 12.22 <b>Hansung University Naksan Study - <span style="color:skyblue">HIFLY</span></b>
    </li>
    <li>
      &#8226; 2017.10.16 ~ 12.15 <b><span style="color:#E8ADAA;">QNA Tutoring Tutor</span></b>
    </li>
    <li>
      &#8226; 2017.09.06 ~ 12.22 <b><span style="color:#E8ADAA;">Tutoring Tutor</span> - Java Language</b>
    </li>
    <li>
      &#8226; 2017.05.28 ~ 12.25 <b><span style="color:#E8ADAA;">Embedded Software Contest</span> - <span style="color:skyblue"><span style="color:skyblue">HIFLY</span></span></b>
		</li>
    <li>
      &#8226; 2017.05.28 ~ 09.29 <b>Hansung University <span style="color:#E8ADAA;">Engineering Contest</span> - <span style="color:skyblue">HIFLY</span></b>
		</li>
		<li>
      &#8226; 2017.03.20 ~ 05.28 <b><span style="color:#E8ADAA;">Tutoring Tutor</span> - C++ Language</b>
		</li>
    <li>
      &#8226; 2017.03.20 ~ 07.25 <b>Hansung University Naksan Study - <span style="color:skyblue">CKY Cinema</span></b>
		</li>
    <li>
      &#8226; 2017.01.16 ~ 01.20 <b>Hansung University <span style="color:#E8ADAA;">Programming Camp</span></b>
		</li>
	</ul>
</p>
<h3>2016</h3>
<p>
	<ul class="about-list">
    <li>
      &#8226; 2016.06.30 ~ 06.31 <b><span style="color:#E8ADAA;">Arduino Development Camp</span> - ICT, IoT Hacker Tone</b>
    </li>
    <li>
      &#8226; 2016.09.06 ~ 12.22 <b>Tutoring Tuty - Java Language</b>
		</li>
    <li>
      &#8226; 2016.03.22 ~ 05.24 <b>Tutoring Tuty - C++ Language</b>
		</li>
	</ul>
</p>
<h3>2014 ~ 2016</h3>
<p>
	<ul class="about-list">
		<li>
			&#8226; 2014.04 ~ 2016.01 <b>Serving a mandatory military service</b>
		</li>
	</ul>
</p>

<h2>Awards</h2>
<h3>2018</h3>
<p>
	<ul class="about-list">
		<!-- <li>
			낙산스터디
		</li>
    <li>
      HighSuccess
    </li>
    <li>
      낙산스터디 대상
		</li>
  -->
	</ul>
</p>
<h3>2017</h3>
<p>
	<ul class="about-list">
    <li>
      &#8226; 2017.12.19 <b>Seoul City App Contest <span style="color:#E8ADAA;">3rd Encouragement Prize</span></b>
		</li>
		<li>
      &#8226; 2017.12.08 <b>Embedded Software Contest <span style="color:#E8ADAA;">2nd Prize</span></b>
		</li>
		<li>
      &#8226; 2017.09.28 <b>Hansung University Engineering Contest <span style="color:#E8ADAA;">3rd Silver Prize</span></b>
		</li>
    <li>
      &#8226; 2017.09.28 <b>Hansung University Engineering Contest <span style="color:#E8ADAA;">Company Prize</span></b>
		</li>
    <li>
      &#8226; 2017.07.25 <b>Hansung University Naksan Study <span style="color:#E8ADAA;">2nd Encouragement Prize</span></b>
		</li>
	</ul>
</p>

<h2>Project</h2>
<p>
	<ul class="about-list">
    <li>
      <h4>&#8226; MQTT Chating - Java Chating
        <a href="https://github.com/wnsgml972/MQTT-Chating" target="_blank"> Code</a>
      </h4>
    </li>
		<li>
			<h4>&#8226; Attention - Android SNS Application<br/> &nbsp;
        <a href="https://github.com/wnsgml972/Attention-Firebase" target="_blank"> Code</a>
        <a href="https://github.com/wnsgml972/Attention-Mobile" target="_blank"> Code</a>
        <a href="https://github.com/wnsgml972/Attention-Server" target="_blank"> Code</a>
        <a href="https://www.youtube.com/watch?v=DbyK6r5cwBs&feature=youtu.be" target="_blank"> Youtube</a>
      </h4>
		</li>
		<li>
			<h4>&#8226; HIFLY - Drone Realtime Streamming Solution<br/> &nbsp;
        <a href="https://github.com/wnsgml972/Drone-Web-View-Broadcasting" target="_blank"> Code</a>
        <a href="https://www.youtube.com/watch?v=55R1oghmro4&feature=youtu.be" target="_blank"> Youtube</a>
      </h4>
		</li>
		<li>
      <h4>&#8226; Culture Class - Android Application
        <a href="https://github.com/wnsgml972/Culture-Class" target="_blank"> Code</a>
        <a href="https://www.youtube.com/watch?v=kVYGijjU3X0" target="_blank"> Youtube</a>
      </h4>
		</li>
    <li>
      <h4>&#8226; CKY-Cinema - Web
        <a href="https://github.com/wnsgml972/CKY-Cinema" target="_blank"> Code</a>
      </h4>
    </li>
    <li>
      <h4>&#8226; Starfish - Java Typing Game
        <a href="https://github.com/wnsgml972/Starfish" target="_blank"> Code</a>
      </h4>
    </li>
    <li>
      <h4>&#8226; TCP Multi Chating - Java Chating
        <a href="https://github.com/wnsgml972/Chating" target="_blank"> Code</a>
      </h4>
    </li>
	</ul>
</p>

<h2>Press</h2>
<p>2017.12.08 Embedded Software Contest 2nd Prize - HIFLY</p>
<p>
	<ul class="about-list">
		<li>
        &#8226; <a href="http://m.dailysecu.com/?mod=news&act=articleView&idxno=26916#_apl" target="_blank"> Daliysecu</a>
		</li>
		<li>
        &#8226; <a href="http://www.hansung.ac.kr/web/www/cmty_01_04?p_p_id=EXT_BBS&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_pos=1&p_p_col_count=3&_EXT_BBS_struts_action=%2Fext%2Fbbs%2Fview_message&_EXT_BBS_sCategory=&_EXT_BBS_sKeyType=&_EXT_BBS_sKeyword=&_EXT_BBS_curPage=2&_EXT_BBS_messageId=744401" target="_blank"> Hansung Issue</a>
		</li>
	</ul>
</p>

<!-- <h2>License</h2>
<p>
	<ul class="about-list">
		<li>
			2016.06.17 :: MOS Master
		</li>
		<li>
			2016.06.17 :: MOS Master
		</li>
	</ul>
</p> -->

<h2>Blog info</h2>
<p>
	<ul class="about-list">
		<li>&#8226; <i class="fa fa-rss"></i><a href="{{ site.url }}{{ site.baseurl }}/feed.xml"> Rss</a></li>
		<li>&#8226; <i class="fa fa-modx"></i> Total <span id="busuanzi_value_site_pv"><i class="fa fa-spinner fa-pulse"></i></span> Hits and <span id="busuanzi_value_site_uv"><i class="fa fa-spinner fa-pulse"></i></span> Visitors</li>
	</ul>
</p>
