---
 layout: page
 title: Resume
 subtitle: Cool heads but warm hearts.
 permalink: /resume/
---

<h2>Profile</h2>
<p>
	<ul class="about-list">
		<li>
			  &#8226; Bachelor in Computer Engineering from <a href="http://www.hansung.ac.kr/web/www/home">Hansung University</a>
		</li>
	</ul>
</p>

<h2>Interests</h2>
<p>
	<ul class="about-list">
			<li>
				&#8226;  Web / Embedded Software / Software Engineering
			</li>
	</ul>
</p>

{% if site.skillstree %} {% include skillstree.html %} {% endif %}

<h2>Activities</h2>
<h3>2018</h3>
<p>
	<ul class="about-list">
		<li>
      &#8226; 2018.03.02 ~ 06.30 <b>Hansung University <span style="color:#E8ADAA;">Capstone Design</span> - <a href="#top" style="color:skyblue;">SenStick</a></b>
		</li>
    <li>
      &#8226; 2018.01.22 ~ 01.26 <b>Seongbuk-gu Office <span style="color:#E8ADAA;">App Inventor Assistant</span></b>
		</li>
    <li>
      &#8226; 2018.01.15 ~ 01.19 <b>Hansung University <span style="color:#E8ADAA;">Programming Camp Tutor</span></b>
		</li>
    <li>
      &#8226; 2018.01.11 ~ 03.02 <b>Hansung University HighSuccess Project - <span style="color:skyblue">DSAIHN</span></b>
    </li>
    <li>
      &#8226; 2018.01.02 ~ 10.31 <b><span style="color:#E8ADAA;">Development of appliance with messaging technology Researcher</span></b>
		</li>
	</ul>
</p>
<h3>2017</h3>
<p>
	<ul class="about-list">
    <li>
      &#8226; 2017.10.20 ~ 12.19 <b><span style="color:#E8ADAA;">Seoul City App Contest</span> - <span style="color:skyblue">Culture Class</span></b>
    </li>
    <li>
      &#8226; 2017.10.16 ~ 12.24 <b><span style="color:#E8ADAA;">Tutoring Tutor</span> - Algorithm</b>
    </li>
    <li>
      &#8226; 2017.10.16 ~ 12.22 <b>Hansung University Naksan Study - <span style="color:skyblue">HIFLY</span></b>
    </li>
    <li>
      &#8226; 2017.10.16 ~ 12.15 <b><span style="color:#E8ADAA;">QNA Tutoring Tutor</span></b>
    </li>
    <li>
      &#8226; 2017.09.06 ~ 12.22 <b><span style="color:#E8ADAA;">Tutoring Tutor</span> - Java Language</b>
    </li>
    <li>
      &#8226; 2017.05.28 ~ 12.25 <b><span style="color:#E8ADAA;">Embedded Software Contest</span> - <span style="color:skyblue"><span style="color:skyblue">HIFLY</span></span></b>
		</li>
    <li>
      &#8226; 2017.05.28 ~ 09.29 <b>Hansung University <span style="color:#E8ADAA;">Engineering Contest</span> - <span style="color:skyblue">HIFLY</span></b>
		</li>
		<li>
      &#8226; 2017.03.20 ~ 05.28 <b><span style="color:#E8ADAA;">Tutoring Tutor</span> - C++ Language</b>
		</li>
    <li>
      &#8226; 2017.03.20 ~ 07.25 <b>Hansung University Naksan Study - <span style="color:skyblue">CKY Cinema</span></b>
		</li>
    <li>
      &#8226; 2017.01.16 ~ 01.20 <b>Hansung University <span style="color:#E8ADAA;">Programming Camp</span></b>
		</li>
	</ul>
</p>
<h3>2016</h3>
<p>
	<ul class="about-list">
    <li>
      &#8226; 2016.06.30 ~ 06.31 <b><span style="color:#E8ADAA;">Arduino Development Camp</span> - ICT, IoT Hacker Tone</b>
    </li>
    <li>
      &#8226; 2016.09.06 ~ 12.22 <b>Tutoring Tuty - Java Language</b>
		</li>
    <li>
      &#8226; 2016.03.22 ~ 05.24 <b>Tutoring Tuty - C++ Language</b>
		</li>
	</ul>
</p>
<h3>2014 ~ 2016</h3>
<p>
	<ul class="about-list">
		<li>
			&#8226; 2014.04.28 ~ 2016.01.27 <b>Serving a mandatory military service as a Marine Corps</b>
		</li>
	</ul>
</p>

<h2>Awards</h2>
<h3>2018</h3>
<p>
	<ul class="about-list">
    <li>
      &#8226; 2018.01.17 <b>Hansung University Naksan Study <span style="color:#E8ADAA;">1st Excellence Prize</span><br/><span style="color:skyblue">- HIFLY</span></b>
    </li>
	</ul>
</p>
<h3>2017</h3>
<p>
	<ul class="about-list">
    <li>
      &#8226; 2017.12.19 <b>Seoul City App Contest <span style="color:#E8ADAA;">3rd Encouragement Prize</span><br/><span style="color:skyblue">- Culture Class</span></b>
		</li>
		<li>
      &#8226; 2017.12.08 <b>Embedded Software Contest <span style="color:#E8ADAA;">2nd Excellence Prize</span><br/><span style="color:skyblue">- HIFLY</span></b>
		</li>
		<li>
      &#8226; 2017.09.28 <b>Hansung University Engineering Contest <span style="color:#E8ADAA;">3rd Silver Prize</span><br/><span style="color:skyblue">- HIFLY</span></b>
		</li>
    <li>
      &#8226; 2017.09.28 <b>Hansung University Engineering Contest <span style="color:#E8ADAA;">Company Prize</span><br/><span style="color:skyblue">- HIFLY</span></b>
		</li>
    <li>
      &#8226; 2017.07.25 <b>Hansung University Naksan Study <span style="color:#E8ADAA;">2nd Encouragement Prize</span><br/><span style="color:skyblue">- CKY Cinema</span></b>
		</li>
	</ul>
</p>

<h2>Project</h2>
<p>
    <h3 id="SenStick">SenStick - MQTT Project About QoS
      <a href="https://github.com/SmartPlace-HIFLY" target="_blank"> Code</a>
    </h3>

    <h3 id="MQTT_Chating">MQTT Chating - Java Chating
      <a href="https://github.com/wnsgml972/MQTT-Chating" target="_blank"> Code</a>
    </h3>

		<h3 id="Attention">Attention - Android SNS Application<br/> &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="https://github.com/wnsgml972/Attention-Firebase" target="_blank"> Code</a>
      <a href="https://github.com/wnsgml972/Attention-Mobile" target="_blank"> Code</a>
      <a href="https://github.com/wnsgml972/Attention-Server" target="_blank"> Code</a>
      <a href="https://www.youtube.com/watch?v=DbyK6r5cwBs&feature=youtu.be" target="_blank"> Youtube</a>
    </h3>

		<h3 id="HIFLY">HIFLY - Drone Realtime Streamming Solution<br/> &nbsp; &nbsp; &nbsp; &nbsp;
      <a href="https://github.com/HIFLY-CSM" target="_blank"> Code</a>
      <a href="https://www.youtube.com/watch?v=55R1oghmro4&feature=youtu.be" target="_blank"> Youtube</a>
      <a href="https://github.com/HIFLY-CSM/HIFLY-Final" target="_blank"> Documentation</a>
    </h3>

    <h3 id="Culture_Class">Culture Class - Android Application
      <a href="https://github.com/wnsgml972/Culture-Class" target="_blank"> Code</a>
      <a href="https://www.youtube.com/watch?v=kVYGijjU3X0" target="_blank"> Youtube</a>
    </h3>

    <h3 id="OpenGL_Running_Game">OpenGL Running Game - C Graphics Game
      <a href="https://github.com/wnsgml972/OpenGL-Running-Game" target="_blank"> Code</a>
    </h3>

    <h3 id="RC_Car">Hackathon RC Car - Android Application, Arduino
      <a href="https://github.com/wnsgml972/Hackathon-RC_Car" target="_blank"> Code</a>
    </h3>

    <h3 id="CKY_Cinema">CKY-Cinema - Web
      <a href="https://github.com/wnsgml972/CKY-Cinema" target="_blank"> Code</a>
    </h3>

    <h3 id="Starfish">Starfish - Java Typing Game
      <a href="https://github.com/wnsgml972/Starfish" target="_blank"> Code</a>
    </h3>

    <h3 id="TCP_Multi">TCP Multiple Chating - Java Chating
      <a href="https://github.com/wnsgml972/Chating" target="_blank"> Code</a>
    </h3>
</p>

<h2>Press</h2>
<p>2017.12.08 Embedded Software Contest 2nd Prize - HIFLY</p>
<p>
	<ul class="about-list">
		<li>
        &#8226; <a href="http://m.dailysecu.com/?mod=news&act=articleView&idxno=26916#_apl" target="_blank"> Daliysecu</a>
		</li>
		<li>
        &#8226; <a href="http://www.hansung.ac.kr/web/www/cmty_01_04?p_p_id=EXT_BBS&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_pos=1&p_p_col_count=3&_EXT_BBS_struts_action=%2Fext%2Fbbs%2Fview_message&_EXT_BBS_sCategory=&_EXT_BBS_sKeyType=&_EXT_BBS_sKeyword=&_EXT_BBS_curPage=2&_EXT_BBS_messageId=744401" target="_blank"> Hansung Issue</a>
		</li>
	</ul>
</p>

<!-- <h2>License</h2>
<p>
	<ul class="about-list">
		<li>
			2016.06.17 :: MOS Master
		</li>
		<li>
			2016.06.17 :: 정보처리기사
		</li>
    <li>
			2016.06.17 :: 오라클
		</li>
	</ul>
</p> -->

<h2>Contacts</h2>
<p>Free to contact me.</p>
<p>
  <ul class="about-list">
    <li>
      <i class="fa fa-instagram"></i><a href="https://www.instagram.com/wnsgml972/" target="_blank"> Instagram</a>
    </li>
    <li>
      <i class="fa fa-facebook"></i><a href="https://www.facebook.com/profile.php?id=100002784525012" target="_blank">&nbsp; Facebook</a>
    </li>
    <li>
      <i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}" target="_blank"> Github</a>
    </li>
    <li>
      <i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
    </li>
  </ul>
</p>
