---
 layout: page
 title: Resume
 subtitle: Stay Hungry. Stay Foolish.
 permalink: /resume/
---

<h2>Profile</h2>
<p>
	<ul class="about-list">
    <li>
        Seoul. South Korea.
    </li>
    <li>
        Jr. Software Developer
    </li>
		<li>
       Working in <a href="http://www.midasit.com/">MIDAS IT</a>
		</li>
	</ul>
</p>

<h2>Career</h2>
<p>
	<ul class="about-list">
		<li>
      &#8226; 2018.09.03 ~ currently employed, <b>MIDAS IT, Infrastructure Development Researcher</b>
		</li>
		<li>
      &#8226; 2018.06.24 ~ 08.24, <b>Korea Electronics and Telecommunications Research Institute(ETRI) Research Trainee</b>
		</li>
	</ul>
</p>

<h2>Github Chart</h2>
<p>
	<ul class="about-list">
		<li>
      <img src="https://ghchart.rshah.org/wnsgml972" />
		</li>
	</ul>
</p>

<h2>Contacts</h2>
<p>Free to contact me.</p>
<p>
  <ul class="about-list">
    <li>
      <i class="fa fa-instagram"></i><a href="https://www.instagram.com/wnsgml972/" target="_blank"> Instagram</a>
    </li>
    <li>
      <i class="fa fa-facebook"></i><a href="https://www.facebook.com/profile.php?id=100002784525012" target="_blank">&nbsp; Facebook</a>
    </li>
    <li>
      <i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/junhee-kim-252376167" target="_blank">&nbsp; LinkedIn</a>
    </li>
    <li>
      <i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}" target="_blank"> Github</a>
    </li>
    <li>
      <i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
    </li>
  </ul>
</p><br/>

<h2>Research <i id="dir_control_resume1" class="fa fa-plus"></i></h2>
<div id="category_resume1">
  <h3>Project</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2017.11.01 ~ 2018.10.31, <b>Development of appliance with messaging technology</b>
	    </li>
      <li>
        &#8226; 2016.11.28 ~ 2017.11.27, <b>Development platform for Situational eating out contents service based on machine learning</b>
  	  </li>
  	</ul>
  </p>
  <h3>Domestic Journal</h3>
  <p>
  	<ul class="about-list">
  		<li>
  			&#8226; 2018, JIIBC, <b>Implementation of Multi-Streaming System of Live Video of Drone</b>
  		</li>
  	</ul>
  </p>
  <h3>Domestic Conference</h3>
  <p>
  	<ul class="about-list">
  		<li>
  			&#8226; 2018, KCC, Excellent presentation paper prize, <b>Design of Modified MQTT Protocol with Time Filter QoS</b>
  		</li>
  	</ul>
  </p>
</div>

{% if site.skillstree %} {% include skillstree.html %} {% endif %}

<h2>Activities <i id="dir_control_resume2" class="fa fa-plus"></i></h2>
<div id="category_resume2">
  <h3>2019</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2018.07 ~ 2019.02.27 <b><span style="color:#E8ADAA;">Naver D2 Campus Fest 6th</span> - <span style="color:skyblue;">MPSec</span></b>
      </li>
    </ul>
  </p>
  <h3>2018</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2018.09.03 ~ current <b><span style="color:#E8ADAA;">MIDAS IT, Infrastructure Development Researcher</span></b>
      </li>
      <li>
        &#8226; 2018.03.11 ~ 09.12 <b><span style="color:#E8ADAA;">Hansung University Engineering Contest</span><br/> - <span style="color:skyblue;">Design and Implementation of urgent and time filter in mosquitto</span></b>
      </li>
      <li>
        &#8226; 2018.08.20 ~ 08.20 <b><span style="color:#E8ADAA;">ETRI 2nd Seminar, ETRI Retrospect</span><br/> - <a href="https://www.slideshare.net/JUNHEEKIM27/etri-retrospect">SlideShare</a></b>
      </li>
      <li>
        &#8226; 2018.08.11 ~ 08.12 <b><span style="color:#E8ADAA;">2018 Namyangju IoT Hackathon</span><br/> - <span style="color:skyblue;">Fire detection IoT system service design</span></b>
  		</li>
      <li>
        &#8226; 2018.07.18 ~ 07.18 <b><span style="color:#E8ADAA;">ETRI 1st Seminar, 2018 Tech Trends and Present Report</span><br/> - <a href="https://www.slideshare.net/JUNHEEKIM27/2018-tech-trendsandpresentreport">SlideShare</a></b>
      </li>
      <li>
        &#8226; 2018.06.24 ~ 08.24 <b><span style="color:#E8ADAA;">ETRI Research Trainee</span></b>
      </li>
      <li>
        &#8226; 2018.06.20 ~ 06.22 <b><span style="color:#E8ADAA;">Domestic Conference, KCC2018, First Author</span></b>
  		</li>
      <li>
        &#8226; 2018.04.16 ~ 05.27 <b><span style="color:#E8ADAA;">2018 MIDAS CHALLENGE</span> - <span style="color:skyblue;">Interior Program</span></b>
  		</li>
  		<li>
        &#8226; 2018.03.02 ~ 06.01 <b>Hansung University <span style="color:#E8ADAA;">Capstone Design</span> - <span style="color:skyblue;">UT-MQTT Broker</span></b>
  		</li>
      <li>
        &#8226; 2018.01.22 ~ 01.26 <b>Seongbuk-gu Office App Inventor Assistant</b>
  		</li>
      <li>
        &#8226; 2018.01.15 ~ 01.19 <b>Hansung University Programming Camp Tutor</b>
  		</li>
      <li>
        &#8226; 2018.01.11 ~ 03.02 <b>Hansung University HighSuccess Project - <span style="color:skyblue">DSAIHN</span></b>
      </li>
  	</ul>
  </p>
  <h3>2017</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2017.10.20 ~ 12.19 <b><span style="color:#E8ADAA;">Seoul City App Contest</span> - <span style="color:skyblue">Culture Class</span></b>
      </li>
      <li>
        &#8226; 2017.10.16 ~ 12.24 <b>Tutoring Tutor - Algorithm</b>
      </li>
      <li>
        &#8226; 2017.10.16 ~ 12.22 <b>Hansung University Naksan Study - <span style="color:skyblue">HIFLY</span></b>
      </li>
      <li>
        &#8226; 2017.10.16 ~ 12.15 <b>QNA Tutoring Tutor</b>
      </li>
      <li>
        &#8226; 2017.09.06 ~ 12.22 <b>Tutoring Tutor - Java Language</b>
      </li>
      <li>
        &#8226; 2017.06.30 ~ 07.01 <b><span style="color:#E8ADAA;">Arduino Development Camp</span> - <span style="color:skyblue">Hackathon RC Car</span></b>
      </li>
      <li>
        &#8226; 2017.05.28 ~ 12.25 <b><span style="color:#E8ADAA;">Embedded Software Contest</span> - <span style="color:skyblue">HIFLY</span></b>
  		</li>
      <li>
        &#8226; 2017.05.28 ~ 09.29 <b>Hansung University Engineering Contest - <span style="color:skyblue">HIFLY</span></b>
  		</li>
  		<li>
        &#8226; 2017.03.20 ~ 05.28 <b>Tutoring Tutor - C++ Language</b>
  		</li>
      <li>
        &#8226; 2017.03.20 ~ 07.25 <b>Hansung University Naksan Study - <span style="color:skyblue">CKY Cinema</span></b>
  		</li>
      <li>
        &#8226; 2017.01.16 ~ 01.20 <b>Hansung University Programming Camp</b>
  		</li>
  	</ul>
  </p>
  <h3>2016</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2016.09.06 ~ 12.22 <b>Tutoring Tuty - Java Language</b>
  		</li>
      <li>
        &#8226; 2016.03.22 ~ 05.24 <b>Tutoring Tuty - C++ Language</b>
  		</li>
  	</ul>
  </p>
  <h3>2014 ~ 2016</h3>
  <p>
  	<ul class="about-list">
  		<li>
  			&#8226; 2014.04.28 ~ 2016.01.27 <b>Serving a mandatory military service as a Marine Corps</b>
  		</li>
  	</ul>
  </p>
</div>

<h2>Awards and Honors <i id="dir_control_resume3" class="fa fa-plus"></i></h2>
<div id="category_resume3">
  <h3>2019</h3>
  <p>
    <ul class="about-list">
      <li>
        &#8226; 2019.02.27 <b>Naver D2 Campus Fest 6th <span style="color:#E8ADAA;">3rd Encouragement Prize</span><br/><span style="color:skyblue;">- MPSec</span></b>
      </li>
      <li>
        &#8226; 2019.01.25 <b>MIDAS <span style="color:#E8ADAA;">Best Team Award </span><span style="color:skyblue;">- Infrastructure Development Team</span></b>
  		</li>
    </ul>
  </p>
  <h3>2018</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2018.09.21 <b>Hansung University Engineering Contest <span style="color:#E8ADAA;">2nd Grand Prize</span><br/><span style="color:skyblue;">- Design and Implementation of urgent and time filter in mosquitto</span></b>
  		</li>
      <li>
        &#8226; 2018.08.12 <b>2018 Namyangju IoT Hackathon <span style="color:#E8ADAA;">2nd Excellence Prize</span><br/>- <span style="color:skyblue;">Fire detection IoT system service design</span></b>
  		</li>
      <li>
        &#8226; 2018.07.31 <b>KCC 2018 <span style="color:#E8ADAA;">Excellent presentation paper prize</span><br/><a href="http://www.kiise.or.kr/academy/board/academyNewsView.fa?MENU_ID=080100&sch_add_bd=%ED%95%99%ED%9A%8C%EC%86%8C%EC%8B%9D&NUM=1720" class="hangle">- Design of Modified MQTT Protocol with Time Filter QoS</a></b>
  		</li>
      <li>
        &#8226; 2018.06.01 <b>Hansung University Capstone Design <span style="color:#E8ADAA;">2nd Grand Prize</span><br/><span style="color:skyblue;">- UT-MQTT Broker</span></b>
  		</li>
      <li>
        &#8226; 2018.05.27 <b>2018 MIDAS CHALLENGE <span style="color:#E8ADAA;">3rd Excellence Prize</span><br/><span style="color:skyblue">- Interior Program</span></b>
      </li>
      <li>
        &#8226; 2018.01.17 <b>Hansung University Naksan Study <span style="color:#E8ADAA;">1st Excellence Prize</span><br/><span style="color:skyblue">- HIFLY</span></b>
      </li>
  	</ul>
  </p>
  <h3>2017</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2017.12.19 <b>Seoul City App Contest <span style="color:#E8ADAA;">3rd Encouragement Prize</span><br/><span style="color:skyblue">- Culture Class</span></b>
  		</li>
  		<li>
        &#8226; 2017.12.08 <b>Embedded Software Contest <span style="color:#E8ADAA;">2nd Excellence Prize</span><br/><span style="color:skyblue">- HIFLY</span></b>
  		</li>
      <li>
        &#8226; 2017.09.28 <b>Hansung University Engineering Contest <span style="color:#E8ADAA;">Company Prize</span><br/><span style="color:skyblue">- HIFLY</span></b>
  		</li>
  		<li>
        &#8226; 2017.09.28 <b>Hansung University Engineering Contest <span style="color:#E8ADAA;">3rd Silver Prize</span><br/><span style="color:skyblue">- HIFLY</span></b>
  		</li>
      <li>
        &#8226; 2017.07.25 <b>Hansung University Naksan Study <span style="color:#E8ADAA;">2nd Encouragement Prize</span><br/><span style="color:skyblue">- CKY Cinema</span></b>
  		</li>
  	</ul>
  </p>
</div>

<!-- <h2>Press <i id="dir_control_resume5" class="fa fa-plus"></i></h2>
<div id="category_resume5">
  <p>2018.09.12 Hansung University Engineering Contest 2nd Grand Prize<span style="color:skyblue">- HILIGHT</span></p>
  <p>
  	<ul class="about-list">
      <li>
          &#8226; <a href="http://news.mt.co.kr/mtview.php?no=2018092117427439135" target="_blank">Money Today</a>
  		</li>
      <li>
          &#8226; <a href="https://mnews.joins.com/article/23000421#home" target="_blank">Daily JoongAng</a>
  		</li>
      <li>
          &#8226; <a href="http://www.metroseoul.co.kr/news/newsview?newscd=2018092700035" target="_blank">Metro Seoul</a>
  		</li>
  	</ul>
  </p>

  <p>2017.12.08 Embedded Software Contest 2nd Prize <span style="color:skyblue">- HIFLY</span></p>
  <p>
  	<ul class="about-list">
  		<li>
          &#8226; <a href="http://m.dailysecu.com/?mod=news&act=articleView&idxno=26916#_apl" target="_blank"> Daliysecu</a>
  		</li>
  		<li>
          &#8226; <a href="http://www.hansung.ac.kr/web/www/cmty_01_04?p_p_id=EXT_BBS&p_p_lifecycle=0&p_p_state=normal&p_p_mode=view&p_p_col_id=column-1&p_p_col_pos=1&p_p_col_count=3&_EXT_BBS_struts_action=%2Fext%2Fbbs%2Fview_message&_EXT_BBS_sCategory=&_EXT_BBS_sKeyType=&_EXT_BBS_sKeyword=&_EXT_BBS_curPage=2&_EXT_BBS_messageId=744401" target="_blank"> Hansung Issue</a>
  		</li>
  	</ul>
  </p>
</div> -->
