---
 layout: page
 title: Resume
 subtitle: Stay Hungry, Stay Foolish.
 permalink: /resume/
---

<h2>Profile</h2>
<p>
	<ul class="about-list">
    <li>
        Seoul. South Korea.
    </li>
    <li>
        Jr. Software Developer
    </li>
		<li>
        Working in <a href="http://www.midasit.com/">MIDAS IT</a>
		</li>
	</ul>
</p>

<h2>Career</h2>
<p>
	<ul class="about-list">
		<li>
      &#8226; 2018.09 ~ Present, <b><span style="color:#E8ADAA;">MIDAS IT</span>, Infrastructure Development Researcher</b>
		</li>
		<li>
      &#8226; 2018.06 ~ 08, <b><span style="color:#E8ADAA;">ETRI</span>, Hyper Connection Communication Lab Research Intern</b>
    </li>
    <li>
      &#8226; 2014.04 ~ 2016.01, <b><span style="color:#E8ADAA;">Marine</span>, Serving a mandatory Military Service</b>
    </li>
    <li>
      &#8226; 2013.03 ~ 2019.07, <b><span style="color:#E8ADAA;">Hansung University</span>, Computer Engineering</b>
    </li>
	</ul>
</p>

<h2>Github Chart</h2>
<p>
	<ul class="about-list">
		<li>
      <img src="https://ghchart.rshah.org/wnsgml972" />
		</li>
	</ul>
</p>

<h2>Contacts</h2>
<p>Free to contact me</p>
<p>
  <ul class="about-list">
    <li>
      <i class="fa fa-instagram"></i><a href="https://www.instagram.com/wnsgml972/" target="_blank"> Instagram</a>
    </li>
    <li>
      <i class="fa fa-facebook"></i><a href="https://www.facebook.com/profile.php?id=100002784525012" target="_blank">&nbsp; Facebook</a>
    </li>
    <li>
      <i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/junhee-kim-252376167" target="_blank">&nbsp; LinkedIn</a>
    </li>
    <li>
      <i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}" target="_blank"> Github</a>
    </li>
    <li>
      <i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
    </li>
  </ul>
</p><br/>

<h2>Research <i id="dir_control_resume1" class="fa fa-plus"></i></h2>
<div id="category_resume1">
  <h3>Project</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2017.11.01 ~ 2018.10.31, <b>Implementation of Appliance with Messaging Technology</b>
	    </li>
      <li>
        &#8226; 2016.11.28 ~ 2017.11.27, <b>Implementation of Development Platform for Situational Eating Out Contents Service based on Machine Learning</b>
  	  </li>
  	</ul>
  </p>
  <h3>Domestic Journal</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; <span style="color:#E8ADAA;">2019, KTCP, KCI</span> <b>Design and Implementation of Time Filter Function in Mosquitto</b>
        <br/>&nbsp;&nbsp;<span class="hangle">Mosquitto에 시간 필터 기능 설계 및 구현</span>
        <br/>&nbsp;&nbsp;<span class="hangle">Kitae Hwang, <span style="color:skyblue">Junhee Kim</span>, Hyungmin Kim, Seho Park and Yongseok Choi.</span>
        <br/>&nbsp;&nbsp;<span class="hangle">KIISE Transactions on Computing Practices(KTCP), 정보과학회 컴퓨팅의 실제 논문지,25(5),273-278.</span> <a href="https://www.kiise.or.kr/academy/board/paperLatelyList.fa?NUM=&type=reportsearch&PAGE=1&MENU_ID=060400&at=content&aw=mosquitto">[ link ]</a> 
      </li>
      <li>
        &#8226; <span style="color:#E8ADAA;">2018, KCC</span> <b>Design of Modified MQTT Protocol with Time Filter QoS</b>
        <br/>&nbsp;&nbsp;<span class="hangle">시간 필터 QoS를 가진 MQTT 프로토콜 설계</span>
        <br/>&nbsp;&nbsp;<span class="hangle"><span style="color:skyblue">Junhee Kim</span>, Donghee Lee, Kitae Hwang, Hyungmin Kim, Seho Park and Yongseok Choi.</span>
        <br/>&nbsp;&nbsp;<span class="hangle">Korea Computer Conference 2018(KCC 2018), 한국정보과학회 학술발표논문집, pp. 410~412.</span> <a href="https://www.kiise.or.kr/academy/board/paperLatelyList.fa?NUM=&type=reportsearch&PAGE=1&MENU_ID=060400&at=content&aw=mosquitto">[ link ]</a>
      </li>
  		<li>
        &#8226; <span style="color:#E8ADAA;">2018, JIIBC, KCI</span> <b>Implementation of Multi-Streaming System of Live Video of Drone</b>
        <br/>&nbsp;&nbsp;<span class="hangle">드론 라이브 영상의 다중 스트리밍 시스템 구현</span>
        <br/>&nbsp;&nbsp;<span class="hangle">Kitae Hwang, Jina Kim, Yongseok Choi, <span style="color:skyblue">Junhee Kim</span>, Hyungmin Kim, Inhwan Jung.</span>
        <br/>&nbsp;&nbsp;<span class="hangle">The Journal of the Institute of Internet, Broadcasting and Communication(JIIBC), 한국인터넷방송통신학회 논문지, 18(1), 143-149.</span> <a href="http://www.jiibc.kr/bbs/board.php?bo_table=collect_paper&wr_id=1807&lc=kor">[ link ]</a>
  		</li>
  	</ul>
  </p>
  <h3>Domestic Conference</h3>
  <p>
  	<ul class="about-list">
  		<li>
  			&#8226; <span style="color:#E8ADAA;">2018, KCC</span>, <a href="http://www.kiise.or.kr/conference/board/boardview.do?CC=kcc&CS=2018&PARENT_ID=051400&NUM=124">[ link ]</a> Excellent Presentation Paper Prize, <b>Design of Modified MQTT Protocol with Time Filter QoS, Presenter</b>
  		</li>
  	</ul>
  </p>
</div>

{% if site.skillstree %} {% include skillstree.html %} {% endif %}

<h2>Activities <i id="dir_control_resume2" class="fa fa-plus"></i></h2>
<div id="category_resume2">
  <h3>2019</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2019.06.03 <b><span style="color:#E8ADAA;">MIDAS IT Seminar, Presentation of 2019 Memoirs for High School Developers</span></b>
      </li>
      <li>
        &#8226; 2018.12 ~ 2019.02.27 <b><span style="color:#E8ADAA;">Naver D2 Campus Fest 6th</span> - <span style="color:skyblue;">MPSec</span></b>
      </li>
    </ul>
  </p>
  <h3>2018</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2018.09.03 ~ Present <b><span style="color:#E8ADAA;">MIDAS IT, Infrastructure Development Researcher</span></b>
      </li>
      <li>
        &#8226; 2018.03.11 ~ 09.12 <b><span style="color:#E8ADAA;">Hansung University Engineering Contest</span><br/> - <span style="color:skyblue;">Design and Implementation of Urgent and Time Filter in Mosquitto</span></b>
      </li>
      <li>
        &#8226; 2018.08.20 ~ 08.20 <b><span style="color:#E8ADAA;">ETRI 2nd Seminar, ETRI Retrospect</span><br/> - <a href="https://www.slideshare.net/JUNHEEKIM27/etri-retrospect">SlideShare</a></b>
      </li>
      <li>
        &#8226; 2018.08.11 ~ 08.12 <b><span style="color:#E8ADAA;">2018 Namyangju IoT Hackathon</span><br/> - <span style="color:skyblue;">Fire Detection IoT System Service Design</span></b>
  		</li>
      <li>
        &#8226; 2018.07.18 ~ 07.18 <b><span style="color:#E8ADAA;">ETRI 1st Seminar, 2018 Tech Trends and Present Report</span><br/> - <a href="https://www.slideshare.net/JUNHEEKIM27/2018-tech-trendsandpresentreport">SlideShare</a></b>
      </li>
      <li>
        &#8226; 2018.06.24 ~ 08.24 <b><span style="color:#E8ADAA;">ETRI Research Intern</span></b>
      </li>
      <li>
        &#8226; 2018.06.20 ~ 06.22 <b><span style="color:#E8ADAA;">Domestic Conference, KCC2018, First Author</span></b>
  		</li>
      <li>
        &#8226; 2018.04.16 ~ 05.27 <b><span style="color:#E8ADAA;">2018 MIDAS CHALLENGE</span> - <span style="color:skyblue;">Interior Program</span></b>
  		</li>
  		<li>
        &#8226; 2018.03.02 ~ 06.01 <b>Hansung University <span style="color:#E8ADAA;">Capstone Design</span> - <span style="color:skyblue;">UT-MQTT Broker</span></b>
  		</li>
      <li>
        &#8226; 2018.01.22 ~ 01.26 <b>Seongbuk-Gu Office App Inventor Assistant</b>
  		</li>
      <li>
        &#8226; 2018.01.15 ~ 01.19 <b>Hansung University Programming Camp Tutor</b>
  		</li>
      <li>
        &#8226; 2018.01.11 ~ 03.02 <b>Hansung University HighSuccess Project - <span style="color:skyblue">DSAIHN</span></b>
      </li>
  	</ul>
  </p>
  <h3>2017</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2017.10.20 ~ 12.19 <b><span style="color:#E8ADAA;">Seoul City App Contest</span> - <span style="color:skyblue">Culture Class</span></b>
      </li>
      <li>
        &#8226; 2017.10.16 ~ 12.24 <b>Tutoring Tutor - Algorithm</b>
      </li>
      <li>
        &#8226; 2017.10.16 ~ 12.22 <b>Hansung University Naksan Study - <span style="color:skyblue">HIFLY</span></b>
      </li>
      <li>
        &#8226; 2017.10.16 ~ 12.15 <b>Q&A Tutoring Tutor</b>
      </li>
      <li>
        &#8226; 2017.09.06 ~ 12.22 <b>Tutoring Tutor - Java Language</b>
      </li>
      <li>
        &#8226; 2017.06.30 ~ 07.01 <b><span style="color:#E8ADAA;">Arduino Development Camp</span> - <span style="color:skyblue">Hackathon RC Car</span></b>
      </li>
      <li>
        &#8226; 2017.05.28 ~ 12.25 <b><span style="color:#E8ADAA;">Embedded Software Contest</span> - <span style="color:skyblue">HIFLY</span></b>
  		</li>
      <li>
        &#8226; 2017.05.28 ~ 09.29 <b>Hansung University Engineering Contest - <span style="color:skyblue">HIFLY</span></b>
  		</li>
  		<li>
        &#8226; 2017.03.20 ~ 05.28 <b>Tutoring Tutor - C++ Language</b>
  		</li>
      <li>
        &#8226; 2017.03.20 ~ 07.25 <b>Hansung University Naksan Study - <span style="color:skyblue">CKY Cinema</span></b>
  		</li>
      <li>
        &#8226; 2017.01.16 ~ 01.20 <b>Hansung University Programming Camp</b>
  		</li>
  	</ul>
  </p>
  <h3>2016</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2016.09.06 ~ 12.22 <b>Tutoring Tuty - Java Language</b>
  		</li>
      <li>
        &#8226; 2016.03.22 ~ 05.24 <b>Tutoring Tuty - C++ Language</b>
  		</li>
  	</ul>
  </p>
  <h3>2014 ~ 2016</h3>
  <p>
  	<ul class="about-list">
  		<li>
  			&#8226; 2014.04.28 ~ 2016.01.27 <b>Serving a mandatory Military Service as a Marine Corps</b>
  		</li>
  	</ul>
  </p>
</div>

<h2>Awards and Honors <i id="dir_control_resume3" class="fa fa-plus"></i></h2>
<div id="category_resume3">
  <h3>2019</h3>
  <p>
    <ul class="about-list">
      <li>
        &#8226; 2019.02.27 <b>Naver D2 Campus Fest 6th <span style="color:#E8ADAA;">3rd Encouragement Prize</span><br/><span style="color:skyblue;">- MPSec</span></b>
      </li>
      <li>
        &#8226; 2019.01.25 <b>MIDAS <span style="color:#E8ADAA;">Best Team Award </span><a href="https://blog.naver.com/midas_light/221472355730" style="color:skyblue;">- Infrastructure Development Team</a></b>
      </li>
      <li>
        &#8226; 2017-1,2 2018-1,2 <b>Hansung University <span style="color:#E8ADAA;">Merit-based Scholarships for Four Semesters</span></b>
      </li>
    </ul>
  </p>
  <h3>2018</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2018.09.21 <b>Hansung University Engineering Contest <span style="color:#E8ADAA;">2nd Grand Prize</span><br/><span style="color:skyblue;">- Design and Implementation of Urgent and Time Filter in Mosquitto</span></b>
  		</li>
      <li>
        &#8226; 2018.08.12 <b>2018 Namyangju IoT Hackathon <span style="color:#E8ADAA;">2nd Excellence Prize</span><br/>- <span style="color:skyblue;">Fire Detection IoT System Service Design</span></b>
  		</li>
      <li>
        &#8226; 2018.07.31 <b>KCC 2018 <span style="color:#E8ADAA;">Excellent Presentation Paper Prize</span><br/><a href="http://www.kiise.or.kr/academy/board/academyNewsView.fa?MENU_ID=080100&sch_add_bd=%ED%95%99%ED%9A%8C%EC%86%8C%EC%8B%9D&NUM=1720" class="hangle">- Design of Modified MQTT Protocol with Time Filter QoS, Presenter</a></b>
  		</li>
      <li>
        &#8226; 2018.06.01 <b>Hansung University Capstone Design <span style="color:#E8ADAA;">2nd Grand Prize</span><br/><span style="color:skyblue;">- UT-MQTT Broker</span></b>
  		</li>
      <li>
        &#8226; 2018.05.27 <b>2018 MIDAS CHALLENGE <span style="color:#E8ADAA;">3rd Excellence Prize</span><br/><span style="color:skyblue">- Interior Program</span></b>
      </li>
      <li>
        &#8226; 2018.01.17 <b>Hansung University Naksan Study <span style="color:#E8ADAA;">1st Excellence Prize</span><br/><span style="color:skyblue">- HIFLY</span></b>
      </li>
  	</ul>
  </p>
  <h3>2017</h3>
  <p>
  	<ul class="about-list">
      <li>
        &#8226; 2017.12.19 <b>Seoul City App Contest <span style="color:#E8ADAA;">3rd Encouragement Prize</span><br/><span style="color:skyblue">- Culture Class</span></b>
  		</li>
  		<li>
        &#8226; 2017.12.08 <b>Embedded Software Contest <span style="color:#E8ADAA;">2nd Excellence Prize</span><br/><span style="color:skyblue">- HIFLY</span></b>
  		</li>
      <li>
        &#8226; 2017.09.28 <b>Hansung University Engineering Contest <span style="color:#E8ADAA;">Company Prize</span><br/><span style="color:skyblue">- HIFLY</span></b>
  		</li>
  		<li>
        &#8226; 2017.09.28 <b>Hansung University Engineering Contest <span style="color:#E8ADAA;">3rd Silver Prize</span><br/><span style="color:skyblue">- HIFLY</span></b>
  		</li>
      <li>
        &#8226; 2017.07.25 <b>Hansung University Naksan Study <span style="color:#E8ADAA;">2nd Encouragement Prize</span><br/><span style="color:skyblue">- CKY Cinema</span></b>
  		</li>
  	</ul>
  </p>
</div>
