<style>
.contact-content li {
  margin-bottom: 3px;
}
ul.no-list-style {
  list-style-type: none;
}
</style>

<h2>Contacts</h2>
<p>Free to contact me</p>
<p>
  <ul class="contact-content no-list-style">
    <li>
      <i class="fa fa-instagram"></i><a href="https://www.instagram.com/wnsgml972/" target="_blank"> Instagram</a>
    </li>
    <li>
      <i class="fa fa-facebook"></i><a href="https://www.facebook.com/profile.php?id=100002784525012" target="_blank">&nbsp; Facebook</a>
    </li>
    <li>
      <i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/junhee-kim-252376167" target="_blank">&nbsp;LinkedIn</a>
    </li>
    <li>
      <i class="fa fa-github"></i><a href="https://github.com/{{ site.github_username }}" target="_blank"> Github</a>
    </li>
    <li>
      <i class="fa fa-envelope"></i><a href="mailto:{{ site.email }}?subject=Hello&nbsp;{{ site.name }}"> Email</a>
    </li>
  </ul>
</p>