<foot>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Derictory -->

<script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
<script src="https://yandex.st/highlightjs/6.2/highlight.min.js"></script>

<!-- Hit analytics -->

<script async src="https://dn-lbstatics.qbox.me/busuanzi/2.3/busuanzi.pure.mini.js"></script>

<!-- Directory -->

<script src="{{ site.baseurl }}/js/main.js"></script>

<!-- Global script - Google Analytics API -->
<script>
    // Replace with your client ID from the developer console. https://console.developers.google.com/apis/credentials
    var CLIENT_ID = '1085651883761-irvmcin30c2eqfkem2lmbcdij60fe7f0.apps.googleusercontent.com';
    // Replace with your view ID. from https://ga-dev-tools.appspot.com/account-explorer/
    var VIEW_ID = '168704650';
    var DISCOVERY = 'https://analyticsreporting.googleapis.com/$discovery/rest';
    var SCOPES = ['https://www.googleapis.com/auth/analytics.readonly'];
  
    function authorize(event) {
      // Handles the authorization flow.
      // `immediate` should be false when invoked from the button click.
      var useImmdiate = event ? false : true;
      var authData = {
        client_id: CLIENT_ID,
        scope: SCOPES,
        immediate: useImmdiate
      };
      gapi.auth.authorize(authData, function(response) {
        if (response.error) {
    $(".getViews").text("인증필요");
        }
        else {
    $(".getViews").text("불러오는 중");
          queryReports();
        }
      });
    }
  
    function queryReports() {
      // Load the API from the client discovery URL.
      gapi.client.load(DISCOVERY
      ).then(function() {
          // Call the Analytics Reporting API V4 batchGet method.
          gapi.client.analyticsreporting.reports.batchGet( {
            "reportRequests":[
            {
              "viewId":VIEW_ID,
              "dateRanges":[
                {
                  "startDate":"7daysAgo",
                  "endDate":"today"
                }],
              "dimensions": [
                {
                  "name": "ga:pagePath"
                }],
              "dimensionFilterClauses": [
                {
                  "filters": [
                    {
                      "dimensionName": "ga:pagePath",
                      "not": false,
                      "expressions": [
                        "\\"+location.pathname
                      ],
                      "caseSensitive": false,
                    }
                  ]
                }],
              "metrics":[
                {
                  "expression":"ga:hits"
                }],
              "orderBys": [
                {
                  "fieldName": "ga:hits",
                  "sortOrder": "DESCENDING",
                }
              ],
            }]
          } ).then(function(response) {
            var parse = JSON.parse(response.body);
            var views = "지난 1주일간 조회수: "+parse.reports[0].data.totals[0].values[0];
            console.log(views);
      $(".getViews").text(views);
          })
          .then(null, function(err) {
              // Log any errors.
              console.log(err);
          });
      });
    }
    $(document).ready(function(){
     authorize(event);
    });
</script>

  <script async src="https://apis.google.com/js/client.js"></script>

</foot>
