<foot>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Derictory -->
  <script src="https://code.jquery.com/jquery-1.7.2.min.js"></script>
  <script src="https://yandex.st/highlightjs/6.2/highlight.min.js"></script>

<!-- Add Prism JS (code highlighter) -->
  <script src="/js/prism.js"></script>
  
<!-- Add Main JS -->
  <script src="/js/main.js"></script>

<!-- Add Navigation -->
  {% include navigation.html %}

<!-- Add Arrow Remote -->
  {% include arrow-remote.html %}

<!-- Add Search -->
  {% include search-form.html %}

</foot>
