
<style>

/* My Github Card
	-------------------------------------------------- */
#my-index-github-card {
	position: fixed;
	display: inline-block !important;
	top: 10%;
	left: 30px;
}
</style>

<style>
/* React Style
	-------------------------------------------------- */
@media all and (max-width:1150px){
	#my-index-github-card {
		display: none !important;
		visibility: hidden !important;
	}
}

@media all and (max-height:500px){
	#my-index-github-card {
		display: none !important;
		visibility: hidden !important;
	}
}

/* Desktop Device */
@media all and (min-width:1025px) {

}
</style>


<div id="my-index-github-card">
	<div class="github-card" data-github="wnsgml972" data-width="400" data-height="" data-theme="medium"></div>
	<script src="//cdn.jsdelivr.net/github-cards/latest/widget.js"></script>
</div>