
<!-- Shape Style
---------------------------------------------------->
<style>
#navigation,
#navigation ul,
#navigation ul li,
#navigation ul li a {
    margin: 0;
    padding: 3px;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#navigation {
	border : 1px solid lightgray;
    min-height: 70px !important;
    padding-top: 10px;
  	position: fixed;
	display: inline-block !important;
	top: 30%;
	right: 30px;
}
#navigation .navbar-brand {
    padding-right: 28px;
    width: 280px;
    border-right: 3px solid rgba(255, 255, 255, 0.1);
    font-family: "hobo-std", sans-serif;
    font-style: italic;
    font-size: 26px !important;
    color: #5fcf80 !important;
}
#navigation .navbar-brand .site-logo {
    float: left;
    margin-top: -10px;
    margin-right: 1rem;
    width: 250px;
}
#navigation #navbar {
    float: right !important;
    font-family: 'Helvetica Rounded', Arial, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 38px;
    text-shadow: 0 1px 3px rgba(0, 0, 0, .5) !important;
}
#navigation #navbar .navbar-nav li a {
	font-family: 'Jeju Gothic', serif;
    color: #25bcba !important;
    text-decoration: none !important;
}
#navigation #navbar .navbar-nav li {
    list-style: none !important;
}


#navigation #navbar .navbar-nav li a:hover,
#navigation #navbar .navbar-nav li a:focus {
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
}
#navigation #navbar .navbar-nav .active a {
    color: #ffffff !important;
    border-bottom: 2px solid #ffffff !important;
}
#navigation #navbar .navbar-nav .dropdown-menu li a {
    color: #515151 !important;
    text-shadow: none !important;
}

#navigation #navbar .navbar-nav {
	margin: 0 !important;
	padding: 10px !important;
}
</style>



<!-- React Style
---------------------------------------------------->
<style>
/* Mobile Device */
@media all and (max-width:1024px){
	#navigation {
		display: none !important;
		visibility: hidden !important;
	}
}

@media all and (max-height:300px){
	#navigation {
		display: none !important;
		visibility: hidden !important;
	}
}

/* Desktop Device */
@media all and (min-width:1025px) {

}
</style>




<!-- HTML
---------------------------------------------------->
{% for entry in site.data.navigation %}
{% capture fullurl %}{{ site.url }}{{ site.baseurl }}{{ entry.url }}{% endcapture %}
    {% if fullurl == page.url %}
        {% assign current_page = fullurl %}
        {% break %}
    {% elsif page.url contains fullurl %}
        {% assign current_page = fullurl %}
    {% endif %}
{% endfor %}

<div id="navigation">
<nav id="navbar" class="collapse navbar-collapse">
    <ul class="nav navbar-nav">
        {% assign links = site.data.navigation %}
        {% for link in links %}
            {% assign class = nil %}
            {% if page.url == link.url %}
                {% assign class = 'active' %}
            {% endif %}
            {% if link.sublinks %}
                <li class="dropdown {{ class }}">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ link.title }} <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        {% for sublink in link.sublinks %}
                            {% if sublink.title == 'separator' %}
                                <li role="separator" class="divider"></li>
                            {% else %}
                                <li>
                                    <a href="{{ site.url }}{{ site.baseurl }}{{ sublink.url }}">{{ sublink.title }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                    </ul>
                </li>
            {% else %}
                <li class="{{ class }}">
                    <a href="{{ site.url }}{{ site.baseurl }}{{ link.url }}">{{ link.title }}</a>
                </li>
            {% endif %}
        {% endfor %}
    </ul>
</nav>
</div>