<!-- Shape Style
---------------------------------------------------->
<style>
@import url("https://fonts.googleapis.com/css?family=Inconsolata:700");

.search-container {
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  height: 100px;
}
.search-container .search-icon {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 80px;
  height: 80px;
  background: crimson;
  border-radius: 50%;
  transition: all 1s;
  z-index: 4;
  box-shadow: 0 0 25px 0 rgba(0, 0, 0, 0.4);
}
.search-container .search-icon:hover {
  cursor: pointer;
}
.search-container .search-icon::before {
  content: "";
  position: absolute;
  margin: auto;
  top: 22px;
  right: 0;
  bottom: 0;
  left: 22px;
  width: 12px;
  height: 2px;
  background: white;
  transform: rotate(45deg);
  transition: all 0.5s;
}
.search-container .search-icon::after {
  content: "";
  position: absolute;
  margin: auto;
  top: -5px;
  right: 0;
  bottom: 0;
  left: -5px;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  border: 2px solid white;
  transition: all 0.5s;
}
.search-container input {
  font-family: "Inconsolata", monospace;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 50px;
  height: 50px;
  outline: none;
  border: none;
  background: crimson;
  color: white;
  text-shadow: 0 0 10px crimson;
  padding: 0 80px 0 20px;
  border-radius: 30px;
  box-shadow: 0 0 25px 0 crimson, 0 20px 25px 0 rgba(0, 0, 0, 0.2);
  transition: all 1s;
  opacity: 0;
  z-index: 5;
  font-weight: bolder;
  letter-spacing: 0.1em;
}
.search-container input:hover {
  cursor: pointer;
}
.search-container input:focus {
  width: 300px;
  opacity: 1;
  cursor: text;
}
.search-container input:focus ~ .search-icon {
  right: -250px;
  background: #151515;
  z-index: 6;
}
.search-container input:focus ~ .search-icon::before {
  top: 0;
  left: 0;
  width: 25px;
}
.search-container input:focus ~ .search-icon::after {
  top: 0;
  left: 0;
  width: 25px;
  height: 2px;
  border: none;
  background: white;
  border-radius: 0%;
  transform: rotate(-45deg);
}
.search-container input::placeholder {
  color: white;
  opacity: 0.5;
  font-weight: bolder;
}
</style>




<!-- React Style
---------------------------------------------------->
<style>
@media all and (max-width:1300px){
  .search-container {
		display: none !important;
		visibility: hidden !important;
	}
}

@media all and (max-height:500px){
  .search-container {
		display: none !important;
		visibility: hidden !important;
	}
}

/* Desktop Device */
@media all and (min-width:1025px) {

}
</style>




<!-- HTML
---------------------------------------------------->
<div class="search-container">
  <form action="/search.html" method="get">
    <input type="search" class="searchTerm" id="search-box" name="query" placeholder="Search...">
    <input type="submit" class="searchButton" value="search" style="display: none;">
    <div class="search-icon"></div>
  </form>
</div>



<!-- JS
---------------------------------------------------->
<script>
  window.store = {
    {% for post in site.posts %}
      "{{ post.url | slugify }}": {
        "title": "{{ post.title | xml_escape }}",
        "author": "{{ post.author | xml_escape }}",
        "category": "{{ post.category | xml_escape }}",
        "content": {{ post.content | strip_html | strip_newlines | jsonify }},
        "url": "{{ post.url | xml_escape }}"
      }
      {% unless forloop.last %},{% endunless %}
    {% endfor %}
  };
</script>

<script src="/js/lunr.min.js"></script>
<script src="/js/search.js"></script>  