<h2>Technical Skill</h2>

<section>
    <a href="https://sourcerer.io/wnsgml972">sourcerer.io</a>
</section>


<section class="tech">
    <h3>Program Language</h3>
    <div class = "item">
        <div class = "describe">
            HTML/CSS/JS
        </div>
        <div class="progress">
            <span class="yellow" style="width: 68%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            C
        </div>
        <div class="progress">
            <span class="black" style="width: 77%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            C++
        </div>
        <div class="progress">
            <span class="black" style="width: 67%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Java
        </div>
        <div class="progress">
            <span class="blue" style="width: 82%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Android
        </div>
        <div class="progress">
            <span class="red" style="width: 60%;"></span>
        </div>
    </div>
    <h3>Database</h3>
    <div class = "item">
        <div class = "describe">
            MySql
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 26%;"></span>
        </div>
    </div>
    <h3>Web Framework</h3>
    <div class = "item">
        <div class = "describe">
            Spring
        </div>
        <div class="progress">
            <span class="green" style="width: 42%;"></span>
        </div>
    </div>
    <h3>Version Control System</h3>
    <div class = "item">
        <div class = "describe">
            Git
        </div>
        <div class="progress">
            <span class="grey" style="width: 58%;"></span>
        </div>
    </div>

    <!-- <h4>Server</h4>
    <div class = "item">
        <div class = "describe">
            AWS EC2
        </div>
        <div class="progress">
            <span class="black" style="width: 58%;"></span>
        </div>
    </div> -->
</section>
