<h2>Technical Skill</h2>
<section class="tech">
    <h4>Program Language</h4>
    <div class = "item">
        <div class = "describe">
            HTML/CSS/JS
        </div>
        <div class="progress">
            <span class="yellow" style="width: 68%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            C/C++
        </div>
        <div class="progress">
            <span class="black" style="width: 53%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Java
        </div>
        <div class="progress">
            <span class="blue" style="width: 82%;"></span>
        </div>
    </div>
    <div class = "item">
        <div class = "describe">
            Android
        </div>
        <div class="progress">
            <span class="red" style="width: 65%;"></span>
        </div>
    </div>
    <h4>Database</h4>
    <div class = "item">
        <div class = "describe">
            MySql
        </div>
        <div class="progress">
            <span class = "darkblue" style="width: 26%;"></span>
        </div>
    </div>
    <h4>Web Framework</h4>
    <div class = "item">
        <div class = "describe">
            Spring
        </div>
        <div class="progress">
            <span class="green" style="width: 42%;"></span>
        </div>
    </div>
    <h4>Version Control System</h4>
    <div class = "item">
        <div class = "describe">
            GIT
        </div>
        <div class="progress">
            <span class="purple" style="width: 58%;"></span>
        </div>
    </div>
    <!-- grey -->


    <!-- <h4>Server</h4>
    <div class = "item">
        <div class = "describe">
            AWS EC2
        </div>
        <div class="progress">
            <span class="black" style="width: 58%;"></span>
        </div>
    </div> -->
</section>
