---
layout: null
---

<html id="top">
  <head>

  {% include head.html %}

  {% if site.google-analytics %}
  {% include google-analytics.html %}
  {% endif %}

  {% if page.url == "/404.html" %}
  <meta http-equiv="refresh" content="10; url={{ site.baseurl }}">
  {% endif %}

  </head>

  {% include header.html %}

<header class="post-header">
	<center><div class="contact-title">{{ page.title }}</div>
		<div class="contact-subtitle">
      <p>{{ page.subtitle }}</p>
      {% include menubtn.html %}
    </div>
  </center>
</header>

<div class="wrapper">
	<div class="post-content">
		{{ content }}
	</div>
</div>

<footer>

  {% include foot.html %}
  {% include page_footer.html %}

  <!-- my floating button -->
  <!-- <a style="display:scroll; position:fixed; bottom:220px; right:50px;" href="#top">
  <img src="../img/icon/box.png" width="30px" height="30px"></a> -->

  <a style="display:scroll; position:fixed; bottom:188px; right:60px;" href="{{ site.baseurl }}/tags/">
  <img src="../img/icon/search1.png" width="30px" height="30px"></a>

  <a style="display:scroll; position:fixed; bottom:156px; right:60px;" target="_blank" href="https://github.com/wnsgml972/wnsgml972.github.io/issues">
  <img src="../img/icon/question1.png" width="30px" height="30px"></a>

  <a style="display:scroll; position:fixed; bottom:124px; right:60px;" href="#top">
  <img src="../img/icon/up.png" width="30px" height="30px"></a>

  <a style="display:scroll; position:fixed; bottom:92px; right:60px;" href="#footer">
  <img src="../img/icon/down.png" width="30px" height="30px"></a>

</footer>

<span id="footer"></span>

</html>
