---
layout: default
---

<header class="post-header">
  <center>
    <div class="post-title" itemprop="name headline">{{ page.title }}</div>
    <div class="post-meta">
      <i class="fa fa-calendar-o"></i>
      <time datetime="{{ page.date | date_to_string }}" itemprop="datePublished">{{ page.date | date: "%b %-d %Y" }}</time>
      <!-- Author -->
      {% if page.author %}
        &nbsp;&nbsp;-&nbsp;&nbsp;<i class="fa fa-user-secret"></i>
        <span itemprop="author" itemscope itemtype="http://schema.org/Person">
          <span itemprop="name">{{ page.author }}</span><br/>
        </span>
      {% endif %}

      <!-- Category -->
      &nbsp;&nbsp;-&nbsp;&nbsp;<i class="fa fa-inbox"></i> <b>In {{ page.category }}</b>
      
      <!-- Hit Count -->
      <div style="text-align: center;">
        <a href="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/' | replace: '/', '-' }}" target="_blank">
          <img src="http://hits.dwyl.com/{{ site.url | remove_first: 'https://' | remove_first: 'http://' }}/{{ page.url | remove_first: '/' | replace: '/', '-' }}.svg" />
        </a>
      </div>
    </div>

    <h3><a class="link" href="{{ site.url }}{{ site.baseurl }}">Home</a></h3>
    {% if page.tags %}
      <div class="post-tags">
        {% for tag in page.tags %}
          <a class="post-tags-item" href="{{ '/tags'| prepend: site.baseurl | prepend: site.url }}">{{ tag }}</a>
        {% endfor %}
      </div>
    {% endif %}
  </center>
</header>

<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="post-content">
    <center>
      {% if page.subtitle %}
        <p>{{ page.subtitle }}</p>
      {% endif %}
    </center>
    <h2>목차 <span class="dir-control-wrapper"><i id="dir_control" class="fa fa-plus"></i></span></h2>
  </div>

  <div id="category"></div>

  <div class="post-content" itemprop="articleBody">
    {{ content }}
  </div>

  <div>
    {% if page.finished %}
      <div class="eof"></div>
    {% else %}
      <div class="tbc"></div>
    {% endif %}
  </div>

  {% include paginate.html %}
  {% include share.html %}
  {% include comments.html %}
</article>
